.track_form_container {
    padding: 20px;
    margin: 10px;
}

.form-group {
    margin-bottom: 15px;
    max-height: 350px;
    overflow: scroll;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top: 10px;
}

select {
  display: block;
}

.button {
  font-size: 18px;
  display: block;
}

.track_submit.button {
  display: block;
  background: #3abfb4;
  color: white;
}

.track_submit.button[disabled] {
    background: #ebebeb;
    color: lightgray;
}

.upload-form {
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
}

.modal-content {
  width: 80%;
  margin: auto;
  padding: 30px;
}

.btn-default {
  margin: 10px;
}
