.track_item_header:hover {
    background: #067f86;
    color: white;
    cursor: pointer;
}

.track_play_button:hover {
  color: #ff1346;
  font-size: 36px;
}

.collapse_track:hover {
  cursor: pointer;
}

.add_to_playlist {
    float: left;
    font-size: 25px;
    padding-left: 20px;
    line-height: normal;
    padding: 10px;
    margin-left: 20px;
}

.add_to_playlist_text {
  font-size: 16px;
  margin-left: 4px;
}

.add_to_playlist:hover {
  cursor: pointer;
}

.null.track_index_item {
  text-align: center;
}

.null_text {
  font-size: 24px;
  font-weight: 500;
}

.link_to_add {
  font-size: 17px;
  line-height: normal;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}

.link_to_add:hover {
  cursor: pointer;
}
